<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>DojahKycExample</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>Dojah Widget SDK needs Camera permission to capture images and ID documents for verification purposes</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Dojah Widget SDK needs Microphone permission to capture audio for verification purposes</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Dojah Widget SDK needs Photo Library permission to pick images and ID documents for verification purposes</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Dojah Widget SDK to ensure the security and integrity of your account</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Dojah Widget SDK to ensure the security and integrity of your account</string>
	<!-- <key>UIAppFonts</key>
	<array>
		<string>Atakk-Bold.ttf</string>
		<string>Atakk-Medium.ttf</string>
		<string>Atakk-Light.ttf</string>
		<string>Atakk-Regular.ttf</string>
		<string>Atakk-Semibold.ttf</string>
	</array> -->
</dict>
</plist>
